.env

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.cover
*.prof
*.bench


bin/

/pkg/
/out/pgdata
out/logs/
logs/
*.log

.idea/
*.iml

.DS_Store
Thumbs.db
tree.txt

frontend/node_modules/


frontend/dist/
frontend/.vite/

frontend/.env
frontend/.env.local
frontend/.env.*.local